<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @owner.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @owner.address.street %>
  <br>
  <strong>City:</strong>
  <%= @owner.address.city %>
  <br>
  <strong>State:</strong>
  <%= @owner.address.state %>
  </p>

<p>
  <strong> Make:</strong>
  <% @owner.cars.each do |a|%>
      <%= a.make %> <br/>
  <% end %>
</p>



<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
