// Place all the styles related to the Owners controller here.
#header {

  background-color: lightblue;
  padding: 20px;
  font-size: 16pt;
  font-family: Courier;

}

;


// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
